doctype html
html
    head
        meta(charset="utf8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title=title
        link(rel="icon" href="/img/health.png" type="image/png" sizes="32x32")

        block styles
            link(href='/assets/main.css' type='text/css' rel="stylesheet")

    body#main
        #header(class="container-fluid")
        #menu
        block content
        #footer(class="container-fluid fixed-bottom")

    block scripts
        script(type="text/javascript").
            window.locals = {}
            window.locals = !{JSON.stringify(locals)}
        script(type="text/javascript" src="/assets/main.js")