doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title='Login Page'
        link(rel="shortcut icon" href="/img/health.png")
        link(href='/assets/login.css' type='text/css' rel="stylesheet")

    body.text-center

    script(src='assets/login.js' type='text/javascript')
