doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title='Signup Page'
        link(rel="shortcut icon" href="/img/health.png")
        link(href='/assets/signup.css' type='text/css' rel="stylesheet")

    body
        div#signup(class='container-fluid')

    script(src='assets/signup.js' type='text/javascript')
