extends layouts/layout.pug

block append styles
    link(href='/assets/main.css' type='text/css' rel="stylesheet")

block content
    div#content


block append scripts
    script(src='/assets/home.js' type='text/javascript')