<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Home</title>
		<link rel="icon" href="../public/img/health.png" type="image/png" sizes="32x32">
		<link rel="stylesheet" type="text/css" href="../public/dist/main.css">
	</head>
	<body>
		<div id="main" class="">
			<div id="header" class="container-fluid">
				<div class="row">
					<div class="col-md-6 col-sm-6 logo-title">
						<div class="d-flex flex-row">
							<div class="pr-2">
								<img src="../public/img/health.png" alt="">
							</div>
							<div class="pl-2">
								<h3 class="font-weight-bold">Bangladesh Medical Hospital Ltd.
								<br>
								<small> Health is Well, All is Well.</small>
								<br>
								<small class="lead">Road-01, Sector-12, Uttara-Dhaka, Bangladesh.</small>
							</h3>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-3 status">
						<div class="row text-white">
							<div class="col"><img src="../public/img/emergency-call.png" alt="">Patient Call to Nurse</div>
							<div class="col-1">:</div>
							<div class="col-3">1000</div>
						</div>
						<div class="row text-warning">
							<div class="col"><img src="../public/img/incoming-call.png" alt="">Nurse Receive Patient Call</div>
							<div class="col-1">:</div>
							<div class="col-3">100</div>
						</div>
						<div class="row text-dark">
							<div class="col"><img src="../public/img/present-call.png" alt="">Nurse Present to Patient</div>
							<div class="col-1">:</div>
							<div class="col-3">90</div>
						</div>
						<div class="row text-success">
							<div class="col"><img src="../public/img/done-call.png" alt="">Total Patient Call Done</div>
							<div class="col-1">:</div>
							<div class="col-3">80</div>
						</div>
						<div class="row text-danger">
							<div class="col"><img src="../public/img/missed-call.png" alt="">Total Patient Call Missed</div>
							<div class="col-1">:</div>
							<div class="col-3">20</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-3 user">
						<div class="row">
							<div class="col-md-2 col-sm-2">
								<img src="../public/img/user.png" alt="">
							</div>
							<div class="col-md-10 col-md-10">
								<h6 class="font-weight-bold">Tarek Ahammed Monjur
									<br>
									<small> ABCD Doctor.</small>
									<br>
									<small> 01780292737</small>
									<br>
									<small> tarekmonjur@gmail.com</small>
									<br>
									<small><a href="">Logout.</a></small>
								</h6>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="menu" class="container-fluid sticky-top">
				<nav class="navbar navbar-expand-lg">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
							Main Menu
						</button>
						<div class="collapse navbar-collapse" id="navbarText">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item active">
									<a class="nav-link" href="#">
										<img src="../public/img/hospital-02.png" alt="">
										Home <span class="sr-only">(current)</span></a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">
										<img src="../public/img/patient.png" alt="">
										Patient</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">
										<img src="../public/img/bed-02.png" alt="">
										Patient Bed</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">
										<img src="../public/img/doctor.png" alt="">
										Doctor</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">
										<img src="../public/img/nurse.png" alt="">
										Nurse</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">
										<img src="../public/img/nurse-03.png" alt="">
										Call History</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">
										<img src="../public/img/ecg.png" alt="">
										Real Time Call</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="#">
										<img src="../public/img/report-01.png" alt="">
										Report</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">
										<img src="../public/img/administration.png" alt="">
										Administration
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" href="#">
											<img src="../public/img/news.png" alt="">
											News</a>
										<a class="dropdown-item" href="#">
											<img src="../public/img/administrator.png" alt="">
											Administrator</a>
										<a class="dropdown-item" href="#">
											<img src="../public/img/gear.png" alt="">
											App Settings</a>
									</div>
								</li>
							</ul>
							<span class="navbar-text">Date: 2/2/2020, HotLine - 01780292737</span>
						</div>
					</nav>
			</div>

			<div id="content" class="container-fluid content">
				<div class="banner"></div>
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="card">
							<div class="card-header">
								<div class="d-flex">
									<div class="flex-grow-1">
										<img src="../public/img/patient-03.png" alt="">
										Patient Call Summary
									</div>
									<div class="">
										<a class="" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
											<img src="../public/img/filter.png" alt="">
											Filters
										</a>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="collapse" id="collapseExample">
									<div class="card">
										<form action="">
										<div class="form-row">
											<div class="form-group col-md-6">
												<div class="input-group input-group-sm">
													<div class="input-group-prepend btn-outline-secondary">
														<div class="input-group-text p-0">
															<select class="form-control form-control-sm">
																<option selected>Choose...</option>
																<option value="1">One</option>
																<option value="2">Two</option>
																<option value="3">Three</option>
															</select>
														</div>
													</div>
													<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
												</div>
											</div>
											<div class="form-group col-md-6">
												<div class="input-group input-group-sm">
													<div class="input-group-prepend btn-outline-secondary">
														<div class="input-group-text p-0">
															<select class="form-control form-control-sm">
																<option selected>Choose...</option>
																<option value="1">One</option>
																<option value="2">Two</option>
																<option value="3">Three</option>
															</select>
														</div>
													</div>
													<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
												</div>
											</div>
										</div>

										<div class="form-row">
											<div class="form-group col-md-5">
												<div class="input-group input-group-sm">
													<div class="input-group-prepend">
														<div class="input-group-text">
															From Date
														</div>
													</div>
													<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
												</div>
											</div>
											<div class="form-group col-md-5">
												<div class="input-group input-group-sm">
													<div class="input-group-prepend">
														<div class="input-group-text">
															To Date
														</div>
													</div>
													<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
												</div>
											</div>
											<div class="form-group col-md-2">
												<button type="submit" class="btn btn-sm">
													<img src="../public/img/search.png" alt="">
													Filter
												</button>
											</div>
										</div>
										</form>
									</div>
								</div>
								<table class="table table-sm table-bordered">
									<thead class="thead-dark">
										<tr>
											<th>Name</th>
											<th>Name</th>
											<th>Name</th>
											<th>Name</th>
											<th>Name</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Name...</td>
											<td>Name...</td>
											<td>Name...</td>
											<td>Name...</td>
											<td>
												<div class="d-flex actions">
													<div class="flex-fill">
														<a href="" data-toggle="tooltip" data-placement="top" title="Edit.">
															<img src="../public/img/pencil.png" alt="">
														</a>
													</div>
													<div class="flex-fill">
														<a href="" data-toggle="tooltip" data-placement="top" title="View.">
															<img src="../public/img/seo.png" alt="">
														</a>
													</div>
													<div class="flex-fill">
														<a href="" data-toggle="tooltip" data-placement="top" title="Delete.">
															<img src="../public/img/trash.png" alt="">
														</a>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="card-footer">
								<div class="d-flex">
									<div class="flex-fill">show 50 record from 100</div>
									<div class="flex-fill">
										<nav aria-label="Page navigation">
											<ul class="pagination pagination-sm justify-content-end">
												<li class="page-item disabled">
													<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
												</li>
												<li class="page-item"><a class="page-link" href="#">1</a></li>
												<li class="page-item"><a class="page-link" href="#">2</a></li>
												<li class="page-item"><a class="page-link" href="#">3</a></li>
												<li class="page-item">
													<a class="page-link" href="#">Next</a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12 col-sm-12">
						<div class="card">
							<div class="card-header">
								<img src="../public/img/nurse-02.png" alt="">
								Nurse Call Summary
							</div>
							<div class="card-body">
								<table class="table table-sm table-bordered">
									<thead class="thead-dark">
									<tr>
										<th>Name</th>
										<th>Name</th>
										<th>Name</th>
										<th>Name</th>
										<th>Name</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>Name...</td>
										<td>Name...</td>
										<td>Name...</td>
										<td>Name...</td>
										<td>Name...</td>
									</tr>
									</tbody>
								</table>
							</div>
							<div class="card-footer">
								<div class="d-flex">
									<div class="flex-fill">show 50 record from 100</div>
									<div class="flex-fill">
										<nav aria-label="Page navigation">
											<ul class="pagination pagination-sm justify-content-end">
												<li class="page-item disabled">
													<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
												</li>
												<li class="page-item"><a class="page-link" href="#">1</a></li>
												<li class="page-item"><a class="page-link" href="#">2</a></li>
												<li class="page-item"><a class="page-link" href="#">3</a></li>
												<li class="page-item">
													<a class="page-link" href="#">Next</a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12 col-sm-12">
						<div class="card">
							<div class="card-header">
								<div class="d-flex">
									<div class="flex-grow-1">
										<img src="../public/img/nurse-04.png" alt="">
										Nurse List
									</div>
									<div class="pr-3">
										<a class="" data-toggle="collapse" href="#">
											<img src="../public/img/pdf.png" alt="">
											Print PDF
										</a>
									</div>
									<div class="pr-3">
										<a class="" data-toggle="collapse" href="#">
											<img src="../public/img/spreadsheet.png" alt="">
 											Export Excel
										</a>
									</div>
									<div class="pr-3">
										<a class="" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
											<img src="../public/img/filter.png" alt="">
											Filters
										</a>
									</div>
									<div class="text-right">
										<a href="#" data-toggle="modal" data-target="#exampleModal">
											<img src="../public/img/plus.png" alt=""> Add</a>
									</div>
								</div>

							</div>
							<div class="card-body">
								<div class="collapse" id="collapseExample1">
									<div class="card">
										<form action="">
											<div class="form-row">
												<div class="form-group col-md-6">
													<div class="input-group input-group-sm">
														<div class="input-group-prepend btn-outline-secondary">
															<div class="input-group-text p-0">
																<select class="form-control form-control-sm">
																	<option selected>Choose...</option>
																	<option value="1">One</option>
																	<option value="2">Two</option>
																	<option value="3">Three</option>
																</select>
															</div>
														</div>
														<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
													</div>
												</div>
												<div class="form-group col-md-6">
													<div class="input-group input-group-sm">
														<div class="input-group-prepend btn-outline-secondary">
															<div class="input-group-text p-0">
																<select class="form-control form-control-sm">
																	<option selected>Choose...</option>
																	<option value="1">One</option>
																	<option value="2">Two</option>
																	<option value="3">Three</option>
																</select>
															</div>
														</div>
														<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
													</div>
												</div>
											</div>

											<div class="form-row">
												<div class="form-group col-md-5">
													<div class="input-group input-group-sm">
														<div class="input-group-prepend">
															<div class="input-group-text">
																From Date
															</div>
														</div>
														<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
													</div>
												</div>
												<div class="form-group col-md-5">
													<div class="input-group input-group-sm">
														<div class="input-group-prepend">
															<div class="input-group-text">
																To Date
															</div>
														</div>
														<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
													</div>
												</div>
												<div class="form-group col-md-2">
													<button type="submit" class="btn btn-sm">
														<img src="../public/img/search.png" alt="">
														Filter
													</button>
												</div>
											</div>
										</form>
									</div>
								</div>
								<table class="table table-sm table-bordered">
									<thead class="thead-dark">
									<tr>
										<th>Name</th>
										<th>Name</th>
										<th>Name</th>
										<th>Name</th>
										<th>Name</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>Name...</td>
										<td>Name...</td>
										<td>Name...</td>
										<td>Name...</td>
										<td>
											<div class="d-flex actions">
												<div class="flex-fill">
													<a href="" data-toggle="tooltip" data-placement="top" title="Edit.">
														<span class="badge badge-primary">
															<img src="../public/img/pencil.png" alt="">
														</span>
													</a>
												</div>
												<div class="flex-fill">
													<a href="" data-toggle="tooltip" data-placement="top" title="View.">
														<span class="badge badge-info">
															<img src="../public/img/seo.png" alt="">
														</span>
													</a>
												</div>
												<div class="flex-fill">
													<a href="" data-toggle="tooltip" data-placement="top" title="Delete.">
														<span class="badge badge-warning">
															<img src="../public/img/trash.png" alt="">
														</span>
													</a>
												</div>
											</div>
										</td>
									</tr>
									</tbody>
								</table>
							</div>
							<div class="card-footer">
								<div class="d-flex">
									<div class="flex-fill">show 50 record from 100</div>
									<div class="flex-fill">
										<nav aria-label="Page navigation">
											<ul class="pagination pagination-sm justify-content-end">
												<li class="page-item disabled">
													<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
												</li>
												<li class="page-item"><a class="page-link" href="#">1</a></li>
												<li class="page-item"><a class="page-link" href="#">2</a></li>
												<li class="page-item"><a class="page-link" href="#">3</a></li>
												<li class="page-item">
													<a class="page-link" href="#">Next</a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12">
						<div class="card">
							<div class="card-header">
								<div class="d-flex">
									<div class="flex-fill">
										<img src="../public/img/nurse-04.png" alt="">
										Nurse List
									</div>
									<div class="flex-fill text-right">
										<a href="#" data-toggle="modal" data-target="#exampleModal">
											<img src="../public/img/plus.png" alt=""> Add</a>
									</div>
								</div>

							</div>
							<div class="card-body">
								<table class="table table-sm table-bordered">
									<thead class="thead-dark">
									<tr>
										<th>Name</th>
										<th>Name</th>
										<th>Name</th>
										<th>Name</th>
										<th>Name</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>Name...</td>
										<td>Name...</td>
										<td>Name...</td>
										<td>Name...</td>
										<td>
											<div class="d-flex actions">
												<div class="flex-fill">
													<a href="" data-toggle="tooltip" data-placement="top" title="Edit.">
														<span class="badge badge-primary">
															<img src="../public/img/pencil.png" alt="">
														</span>
													</a>
												</div>
												<div class="flex-fill">
													<a href="" data-toggle="tooltip" data-placement="top" title="View.">
														<span class="badge badge-info">
															<img src="../public/img/seo.png" alt="">
														</span>
													</a>
												</div>
												<div class="flex-fill">
													<a href="" data-toggle="tooltip" data-placement="top" title="Delete.">
														<span class="badge badge-warning">
															<img src="../public/img/trash.png" alt="">
														</span>
													</a>
												</div>
											</div>
										</td>
									</tr>
									</tbody>
								</table>
							</div>
							<div class="card-footer">
								<div class="d-flex">
									<div class="flex-fill">show 50 record from 100</div>
									<div class="flex-fill">
										<nav aria-label="Page navigation">
											<ul class="pagination pagination-sm justify-content-end">
												<li class="page-item disabled">
													<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
												</li>
												<li class="page-item"><a class="page-link" href="#">1</a></li>
												<li class="page-item"><a class="page-link" href="#">2</a></li>
												<li class="page-item"><a class="page-link" href="#">3</a></li>
												<li class="page-item">
													<a class="page-link" href="#">Next</a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12">
						<div class="card">
							<div class="card-header">
								<div class="d-flex">
									<div class="flex-fill">
										<img src="../public/img/nurse-04.png" alt="">
										Nurse List
									</div>
									<div class="flex-fill text-right">
										<a href="#" data-toggle="modal" data-target="#exampleModal">
											<img src="../public/img/plus.png" alt=""> Add</a>
									</div>
								</div>

							</div>
							<div class="card-body">
								<table class="table table-sm table-bordered">
									<thead class="thead-dark">
									<tr>
										<th>Name</th>
										<th>Name</th>
										<th>Name</th>
										<th>Name</th>
										<th>Name</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>Name...</td>
										<td>Name...</td>
										<td>Name...</td>
										<td>Name...</td>
										<td>
											<div class="d-flex actions">
												<div class="flex-fill">
													<a href="" data-toggle="tooltip" data-placement="top" title="Edit.">
														<span class="badge badge-primary">
															<img src="../public/img/pencil.png" alt="">
														</span>
													</a>
												</div>
												<div class="flex-fill">
													<a href="" data-toggle="tooltip" data-placement="top" title="View.">
														<span class="badge badge-info">
															<img src="../public/img/seo.png" alt="">
														</span>
													</a>
												</div>
												<div class="flex-fill">
													<a href="" data-toggle="tooltip" data-placement="top" title="Delete.">
														<span class="badge badge-warning">
															<img src="../public/img/trash.png" alt="">
														</span>
													</a>
												</div>
											</div>
										</td>
									</tr>
									</tbody>
								</table>
							</div>
							<div class="card-footer">
								<div class="d-flex">
									<div class="flex-fill">show 50 record from 100</div>
									<div class="flex-fill">
										<nav aria-label="Page navigation">
											<ul class="pagination pagination-sm justify-content-end">
												<li class="page-item disabled">
													<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
												</li>
												<li class="page-item"><a class="page-link" href="#">1</a></li>
												<li class="page-item"><a class="page-link" href="#">2</a></li>
												<li class="page-item"><a class="page-link" href="#">3</a></li>
												<li class="page-item">
													<a class="page-link" href="#">Next</a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12">
						<div class="card">
							<div class="card-header">
								<div class="d-flex">
									<div class="flex-fill">
										<img src="../public/img/nurse-04.png" alt="">
										Nurse List
									</div>
									<div class="flex-fill text-right">
										<a href="#" data-toggle="modal" data-target="#exampleModal">
											<img src="../public/img/plus.png" alt=""> Add</a>
									</div>
								</div>

							</div>
							<div class="card-body">
								<table class="table table-sm table-bordered">
									<thead class="thead-dark">
									<tr>
										<th>Name</th>
										<th>Name</th>
										<th>Name</th>
										<th>Name</th>
										<th>Name</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>Name...</td>
										<td>Name...</td>
										<td>Name...</td>
										<td>Name...</td>
										<td>
											<div class="d-flex actions">
												<div class="flex-fill">
													<a href="" data-toggle="tooltip" data-placement="top" title="Edit.">
														<span class="badge badge-primary">
															<img src="../public/img/pencil.png" alt="">
														</span>
													</a>
												</div>
												<div class="flex-fill">
													<a href="" data-toggle="tooltip" data-placement="top" title="View.">
														<span class="badge badge-info">
															<img src="../public/img/seo.png" alt="">
														</span>
													</a>
												</div>
												<div class="flex-fill">
													<a href="" data-toggle="tooltip" data-placement="top" title="Delete.">
														<span class="badge badge-warning">
															<img src="../public/img/trash.png" alt="">
														</span>
													</a>
												</div>
											</div>
										</td>
									</tr>
									</tbody>
								</table>
							</div>
							<div class="card-footer">
								<div class="d-flex">
									<div class="flex-fill">show 50 record from 100</div>
									<div class="flex-fill">
										<nav aria-label="Page navigation">
											<ul class="pagination pagination-sm justify-content-end">
												<li class="page-item disabled">
													<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
												</li>
												<li class="page-item"><a class="page-link" href="#">1</a></li>
												<li class="page-item"><a class="page-link" href="#">2</a></li>
												<li class="page-item"><a class="page-link" href="#">3</a></li>
												<li class="page-item">
													<a class="page-link" href="#">Next</a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-sm-12">
						<div class="card">
							<div class="card-header">
								<div class="d-flex">
									<div class="flex-fill">
										<img src="../public/img/nurse-04.png" alt="">
										Nurse List
									</div>
									<div class="flex-fill text-right">
										<a href="#" data-toggle="modal" data-target="#exampleModal">
											<img src="../public/img/plus.png" alt=""> Add</a>
									</div>
								</div>

							</div>
							<div class="card-body">
								<table class="table table-sm table-bordered">
									<thead class="thead-dark">
									<tr>
										<th>Name</th>
										<th>Name</th>
										<th>Name</th>
										<th>Name</th>
										<th>Name</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>Name...</td>
										<td>Name...</td>
										<td>Name...</td>
										<td>Name...</td>
										<td>
											<div class="d-flex actions">
												<div class="flex-fill">
													<a href="" data-toggle="tooltip" data-placement="top" title="Edit.">
														<span class="badge badge-primary">
															<img src="../public/img/pencil.png" alt="">
														</span>
													</a>
												</div>
												<div class="flex-fill">
													<a href="" data-toggle="tooltip" data-placement="top" title="View.">
														<span class="badge badge-info">
															<img src="../public/img/seo.png" alt="">
														</span>
													</a>
												</div>
												<div class="flex-fill">
													<a href="" data-toggle="tooltip" data-placement="top" title="Delete.">
														<span class="badge badge-warning">
															<img src="../public/img/trash.png" alt="">
														</span>
													</a>
												</div>
											</div>
										</td>
									</tr>
									</tbody>
								</table>
							</div>
							<div class="card-footer">
								<div class="d-flex">
									<div class="flex-fill">show 50 record from 100</div>
									<div class="flex-fill">
										<nav aria-label="Page navigation">
											<ul class="pagination pagination-sm justify-content-end">
												<li class="page-item disabled">
													<a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
												</li>
												<li class="page-item"><a class="page-link" href="#">1</a></li>
												<li class="page-item"><a class="page-link" href="#">2</a></li>
												<li class="page-item"><a class="page-link" href="#">3</a></li>
												<li class="page-item">
													<a class="page-link" href="#">Next</a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="footer" class="container-fluid fixed-bottom">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="d-flex">
							<div class="font-weight-bold pr-2">
								<img src="../public/img/news.png" width="20px" alt="">
								News:
							</div>
							<div class="flex-fill pr-1 pl-1 news-title">
								<p class="text-nowrap">
									ABCD fas fads fas fasd fasdf adsf asd fas fasd fdsaf dasf dasf
									dfas fas fads fas fasd fasdf adsf asd fas fasd fdsaf dasf dasf
									dfas fas fads fas fasd fasdf adsf asd fas fasd fdsaf dasf dasf
									dfas fas fads fas fasd fasdf adsf asd fas fasd fdsaf dasf TAREK
								</p>
							</div>
							<div class="ml-auto pl-2">
								BOX IT
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h6 class="modal-title" id="exampleModalLabel">
						<img src="../public/img/nurse-04.png" alt="">
						Add Nurse
					</h6>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-sm btn-primary">Save</button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="../public/dist/main.js"></script>
</html>