<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <link rel="icon" href="../public/dist/health.png" type="image/png" sizes="32x32">
    <link rel="stylesheet" type="text/css" href="../public/dist/css/style.css">
</head>
<body>
<div id="main" class="">
    <div id="header" class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 logo-title">
                <div class="d-flex flex-row">
                    <div class="pr-2">
                        <img src="../public/dist/health.png" alt="">
                    </div>
                    <div class="pl-2">
                        <h3 class="font-weight-bold">Bangladesh Medical Hospital Ltd.
                            <br>
                            <small> Health is Well, All is Well.</small>
                            <br>
                            <small class="lead">Road-01, Sector-12, Uttara-Dhaka, Bangladesh.</small>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="container-fluid login">
        <div class="banner">
            <img src="../public/dist/hospital-banner.png" alt="">
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-12 mt-5">
                <div class="card">
                    <div class="card-header">
                        <h4>404 error</h4>
                    </div>
                    <div class="card-body">
                        <h5>Page not found.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer" class="container-fluid fixed-bottom">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="d-flex">
                    <div class="font-weight-bold pr-2">
                        <img src="../public/dist/news.png" width="20px" alt="">
                        News:
                    </div>
                    <div class="flex-fill pr-1 pl-1 news-title">
                        <p class="text-nowrap">
                            ABCD fas fads fas fasd fasdf adsf asd fas fasd fdsaf dasf dasf
                            dfas fas fads fas fasd fasdf adsf asd fas fasd fdsaf dasf dasf
                            dfas fas fads fas fasd fasdf adsf asd fas fasd fdsaf dasf dasf
                            dfas fas fads fas fasd fasdf adsf asd fas fasd fdsaf dasf TAREK
                        </p>
                    </div>
                    <div class="ml-auto pl-2">
                        BOX IT
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../public/dist/js/bootstrap.bundle.js"></script>
</html>