<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Home</title>
		<link rel="icon" href="../public/img/health.png" type="image/png" sizes="32x32">
		<link rel="stylesheet" type="text/css" href="../public/dist/main.css">
	</head>
	<body>
		<div id="main" class="">
			<div id="header" class="container-fluid">
				<div class="row">
					<div class="col-md-6 col-sm-6 logo-title">
						<div class="d-flex flex-row">
							<div class="pr-2">
								<img src="../public/img/health.png" alt="">
							</div>
							<div class="pl-2">
								<h3 class="font-weight-bold">Bangladesh Medical Hospital Ltd.
								<br>
								<small> Health is Well, All is Well.</small>
								<br>
								<small class="lead">Road-01, Sector-12, Uttara-Dhaka, Bangladesh.</small>
							</h3>
							</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-3 status">
						<div class="row text-white">
							<div class="col"><img src="../public/img/emergency-call.png" alt="">Patient Call to Nurse</div>
							<div class="col-1">:</div>
							<div class="col-3">1000</div>
						</div>
						<div class="row text-warning">
							<div class="col"><img src="../public/img/incoming-call.png" alt="">Nurse Receive Patient Call</div>
							<div class="col-1">:</div>
							<div class="col-3">100</div>
						</div>
						<div class="row text-dark">
							<div class="col"><img src="../public/img/present-call.png" alt="">Nurse Present to Patient</div>
							<div class="col-1">:</div>
							<div class="col-3">90</div>
						</div>
						<div class="row text-success">
							<div class="col"><img src="../public/img/done-call.png" alt="">Total Patient Call Done</div>
							<div class="col-1">:</div>
							<div class="col-3">80</div>
						</div>
						<div class="row text-danger">
							<div class="col"><img src="../public/img/missed-call.png" alt="">Total Patient Call Missed</div>
							<div class="col-1">:</div>
							<div class="col-3">20</div>
						</div>
					</div>

					<div class="col-md-3 col-sm-3 user">
						<div class="row">
							<div class="col-md-2 col-sm-2">
								<img src="../public/img/user.png" alt="">
							</div>
							<div class="col-md-10 col-md-10">
								<h6 class="font-weight-bold">Tarek Ahammed Monjur
									<br>
									<small> ABCD Doctor.</small>
									<br>
									<small> 01780292737</small>
									<br>
									<small> tarekmonjur@gmail.com</small>
									<br>
									<small><a href="">Logout.</a></small>
								</h6>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="menu" class="container-fluid sticky-top">
				<nav class="navbar navbar-expand-lg">
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
							Main Menu
						</button>
						<div class="collapse navbar-collapse" id="navbarText">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item active">
									<a class="nav-link" href="/">
										<img src="../public/img/hospital-02.png" alt="">
										Home <span class="sr-only">(current)</span></a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/patient">
										<img src="../public/img/patient.png" alt="">
										Patient</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/patient-bed">
										<img src="../public/img/bed-02.png" alt="">
										Bed & Device</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/doctor">
										<img src="../public/img/doctor.png" alt="">
										Doctor</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/nurse">
										<img src="../public/img/nurse.png" alt="">
										Nurse</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/call-history">
										<img src="../public/img/emergency-call.png" alt="">
										Call History</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/real-time-call">
										<img src="../public/img/ecg.png" alt="">
										Real Time Call</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="/report">
										<img src="../public/img/report-01.png" alt="">
										Report</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">
										<img src="../public/img/administration.png" alt="">
										Administration
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
										<a class="dropdown-item" href="/news">
											<img src="../public/img/news.png" alt="">
											News</a>
										<a class="dropdown-item" href="/administrator">
											<img src="../public/img/administrator.png" alt="">
											Administrator</a>
										<a class="dropdown-item" href="/settings">
											<img src="../public/img/gear.png" alt="">
											App Settings</a>
									</div>
								</li>
							</ul>
							<span class="navbar-text">Date: 2/2/2020, HotLine - 01780292737</span>
						</div>
					</nav>
			</div>

			<div id="content" class="container-fluid content">
				<div class="banner"></div>
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<div class="card mb-3">
							<div class="row no-gutters">
								<div class="col-4">
									<div class="card-header p-3">
										<img src="../public/img/emergency-call.png" style="width: 100%;" class="card-img" alt="...">
									</div>
								</div>
								<div class="col-8">
									<div class="card-body text-center">
										<h3 class="card-title m-0">1234 <br>
											<small class="card-text text-muted">Total Nurse Call</small>
										</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="card mb-3">
							<div class="row no-gutters">
								<div class="col-4">
									<div class="card-header p-3">
										<img src="../public/img/incoming-call.png" style="width: 100%;" class="card-img" alt="...">
									</div>
								</div>
								<div class="col-8">
									<div class="card-body text-center">
										<h3 class="card-title m-0">1234 <br>
											<small class="card-text text-muted">Total Call Received</small>
										</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="card mb-3">
							<div class="row no-gutters">
								<div class="col-4">
									<div class="card-header p-3">
										<img src="../public/img/present-call.png" style="width: 100%;" class="card-img" alt="...">
									</div>
								</div>
								<div class="col-8">
									<div class="card-body text-center">
										<h3 class="card-title m-0">1234 <br>
											<small class="card-text text-muted">Total Call Present</small>
										</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="card mb-3">
							<div class="row no-gutters">
								<div class="col-4">
									<div class="card-header p-3">
										<img src="../public/img/done-call.png" style="width: 100%;" class="card-img" alt="...">
									</div>
								</div>
								<div class="col-8">
									<div class="card-body text-center">
										<h3 class="card-title m-0">1234 <br>
											<small class="card-text text-muted">Total Call Done</small>
										</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="card mb-3">
							<div class="row no-gutters">
								<div class="col-4">
									<div class="card-header p-3">
										<img src="../public/img/missed-call.png" style="width: 100%;" class="card-img" alt="...">
									</div>
								</div>
								<div class="col-8">
									<div class="card-body text-center">
										<h3 class="card-title m-0">1234 <br>
											<small class="card-text text-muted">Total Call Missed</small>
										</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="card mb-3">
							<div class="row no-gutters">
								<div class="col-4">
									<div class="card-header p-3">
										<img src="../public/img/present-call.png" style="width: 100%;" class="card-img" alt="...">
									</div>
								</div>
								<div class="col-8">
									<div class="card-body text-center">
										<h3 class="card-title m-0">1234 <br>
											<small class="card-text text-muted">Total not Present</small>
										</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="card mb-3">
							<div class="row no-gutters">
								<div class="col-4">
									<div class="card-header p-3">
										<img src="../public/img/call-emergency.png" style="width: 100%;" class="card-img" alt="...">
									</div>
								</div>
								<div class="col-8">
									<div class="card-body text-center">
										<h3 class="card-title m-0">1234 <br>
											<small class="card-text text-muted">Emergency Call</small>
										</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3 col-sm-3">
						<div class="card mb-3">
							<div class="row no-gutters">
								<div class="col-4">
									<div class="card-header p-3">
										<img src="../public/img/patient-05.png" style="width: 100%;" class="card-img" alt="...">
									</div>
								</div>
								<div class="col-8">
									<div class="card-body text-center">
										<h3 class="card-title m-0">1234 <br>
											<small class="card-text text-muted">Total Patients</small>
										</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="card mb-3">
							<div class="row no-gutters">
								<div class="col-4">
									<div class="card-header p-3">
										<img src="../public/img/bed-03.png" style="width: 100%;" class="card-img" alt="...">
									</div>
								</div>
								<div class="col-8">
									<div class="card-body text-center">
										<h3 class="card-title m-0">1234 <br>
											<small class="card-text text-muted">Total Bed & Device</small>
										</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="card mb-3">
							<div class="row no-gutters">
								<div class="col-4">
									<div class="card-header p-3">
										<img src="../public/img/patient-04.png" style="width: 100%;" class="card-img" alt="...">
									</div>
								</div>
								<div class="col-8">
									<div class="card-body text-center">
										<h3 class="card-title m-0">1234 <br>
											<small class="card-text text-muted">Total Doctors</small>
										</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="card mb-3">
							<div class="row no-gutters">
								<div class="col-4">
									<div class="card-header p-3">
										<img src="../public/img/nurse.png" style="width: 100%;" class="card-img" alt="...">
									</div>
								</div>
								<div class="col-8">
									<div class="card-body text-center">
										<h3 class="card-title m-0">1234 <br>
											<small class="card-text text-muted">Total Nurses</small>
										</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">
						<div class="card mb-3">
							<div class="row no-gutters">
								<div class="col-4">
									<div class="card-header p-3">
										<img src="../public/img/administrator.png" style="width: 100%;" class="card-img" alt="...">
									</div>
								</div>
								<div class="col-8">
									<div class="card-body text-center">
										<h3 class="card-title m-0">1234 <br>
											<small class="card-text text-muted">Total Admin</small>
										</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="footer" class="container-fluid fixed-bottom">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="d-flex">
							<div class="font-weight-bold pr-2">
								<img src="../public/img/news.png" width="20px" alt="">
								News:
							</div>
							<div class="flex-fill pr-1 pl-1 news-title">
								<p class="text-nowrap">
									বিএসএমএমইউয়ে করোনা পরীক্ষার ফল মাত্র ৪ ঘণ্টায়
									বিএসএমএমইউয়ে করোনা পরীক্ষার ফল মাত্র ৪ ঘণ্টায়
									কাঁঠালিয়ায় জ্বর ও ডায়রিয়ায় শিশুর মৃত্যু, ৬ পরিবার কোয়ারেন্টিনে
									কাঁঠালিয়ায় জ্বর ও ডায়রিয়ায় শিশুর মৃত্যু, ৬ পরিবার কোয়ারেন্টিনে
									৩০০ অসহায় মানুষকে খাওয়াবেন জেমি ডে
									৩০০ অসহায় মানুষকে খাওয়াবেন জেমি ডে
									করোনার আতঙ্ক থেকে বাঁচব কীভাবে?
									করোনার আতঙ্ক থেকে বাঁচব কীভাবে?
									করোনা–আক্রান্তদের জন্য কয়েকটি টিপস
									করোনা–আক্রান্তদের জন্য কয়েকটি টিপস
								</p>
							</div>
							<div class="ml-auto pl-2">
								BOX IT
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

	<script type="text/javascript" src="../public/dist/main.js"></script>
</html>