<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <link rel="icon" href="../public/img/health.png" type="image/png" sizes="32x32">
    <link rel="stylesheet" type="text/css" href="../public/dist/main.css">
</head>
<body>
<div id="main" class="">
    <div id="header" class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 logo-title">
                <div class="d-flex flex-row">
                    <div class="pr-2">
                        <img src="../public/img/health.png" alt="">
                    </div>
                    <div class="pl-2">
                        <h3 class="font-weight-bold">Bangladesh Medical Hospital Ltd.
                            <br>
                            <small> Health is Well, All is Well.</small>
                            <br>
                            <small class="lead">Road-01, Sector-12, Uttara-Dhaka, Bangladesh.</small>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="container-fluid login">
        <div class="banner">
            <img src="../public/img/hospital-banner.png" alt="">
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-12 mt-5">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <img src="../public/img/administration.png" alt="">
                                Administration Login
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form name="form-login">
                            <div class="form-row">
                                <div class="col-md-12 col-sm-12 mb-3">
                                    <label for="username">Username</label>
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <img src="../public/img/administrator.png" alt="">
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" id="username" required>
                                    </div>
                                    <small id="usernameHelpBlock" class="form-text text-muted">
                                        Your password must be 8-20 characters long.
                                    </small>
                                    <div class="invalid-feedback">
                                        Please choose a username.
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-12 col-sm-12 mb-3">
                                    <label for="password">Password</label>
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <img src="../public/img/password.png" alt="">
                                            </div>
                                        </div>
                                        <input type="password" class="form-control is-invalid" id="password" required>
                                        <small id="passwordHelpBlock" class="form-text text-muted">
                                            Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                                        </small>
                                        <div class="invalid-feedback">
                                            Please choose a password.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-sm btn-primary" type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer" class="container-fluid fixed-bottom">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="d-flex">
                    <div class="font-weight-bold pr-2">
                        <img src="../public/img/news.png" width="20px" alt="">
                        News:
                    </div>
                    <div class="flex-fill pr-1 pl-1 news-title">
                        <p class="text-nowrap">
                            ABCD fas fads fas fasd fasdf adsf asd fas fasd fdsaf dasf dasf
                            dfas fas fads fas fasd fasdf adsf asd fas fasd fdsaf dasf dasf
                            dfas fas fads fas fasd fasdf adsf asd fas fasd fdsaf dasf dasf
                            dfas fas fads fas fasd fasdf adsf asd fas fasd fdsaf dasf TAREK
                        </p>
                    </div>
                    <div class="ml-auto pl-2">
                        BOX IT
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script type="text/javascript" src="../public/dist/main.js"></script>
</html>