doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title=title

        block styles
            link(href='/assets/main.css' type='text/css' rel="stylesheet")

    body#main
        include header.pug
        block content
        include footer.pug

    block scripts