doctype html
html
    head
        title=title
        block styles
            link(href='/assets/style.css' type='text/css' rel="stylesheet")

    body
        div.container(id='main')
            include header.pug
            block content
            include footer.pug

    block scripts